[submodule "popstar/MX_Alps_Hybrid.pretty"]
	path = popstar/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "popstar/random-keyboard-parts.pretty"]
	path = popstar/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
