[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "MX_Alps_Hybrid.pretty"]
	path = MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "marbastlib"]
	path = marbastlib
	url = https://github.com/ebastler/marbastlib
[submodule "RP2040-designguide"]
	path = RP2040-designguide
	url = https://github.com/Sleepdealr/RP2040-designguide
[submodule "libraries/Connectors_JST.pretty"]
	path = libraries/Connectors_JST.pretty
	url = https://github.com/KiCad/Connectors_JST.pretty.git
